:root{
    --pcolor:rgb(126, 249, 255);
    --scolor:rgb(111, 111, 243);
    --acolor:rgb(0, 0, 0);
    --acolor2:#ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Molengo", serif;
}
header {
    background-color: var(--pcolor);
    display: grid;
    grid-gap: 1rem;
    border: 1px solid var(--acolor);
    box-shadow: 0 0 30px #333;
}
header p{
    text-align: center;
    font-size:2rem;
    padding: 1rem 0;
}
nav {
	background-color: var(--scolor);
    
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
    
}

nav a {
	display: block;
	color: var(--acolor2);
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: larger;
    
}

nav a:hover {
	text-decoration: underline;
	background-color: var(--acolor2);
	color: var(--acolor);
}
#hamburger{
    display: inline;
}
#hamburger span::before{
    content: "\2630";
    font-size: 2rem;
}
#hamburger{
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 2%;
    left: 80%;
    color: var(--acolor);
}
#hamburger:hover{
    cursor: pointer;
    background-color: rgb(223, 223, 223);
    border-radius: 15px;
}
#hamburger.hidden span::before{
    content: "X";
}
main { 
  max-width: 95%;
  margin: 0 auto;
}
figure{
    box-shadow: 0px 0px 10px 0;
}
figcaption{
    text-align: center;
}
figure img {
    width: 100%;
    height: auto;
    max-width: 100%;
}
#temples {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
    place-items: center;
}
.hidden{
    display: none;
}

footer{
	margin-top: 2rem;
	padding: 1rem;
	background-color: var(--pcolor);
	font: bolder;
}
footer p{
	display: block;
	margin: auto;
	width: fit-content;
}
